<table class="table align-middle">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>{{this.email}}</td>
      {{#ifCond this.role 'admin'}} <td>Admin</td>{{/ifCond}}
      {{#ifCond this.role 'student'}} <td>Student</td>{{/ifCond}}
      {{#ifCond this.role 'teacher'}} <td>Teacher</td>{{/ifCond}}
    </tr>
    {{/each}}
  </tbody>
</table>